[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
numpy = "*"
cobra = "*"
websockets = "*"
requests = "*"
dataclasses-json = "*"
scipy = "*"
matplotlib = "*"
torch = "*"
gymnasium = "*"
stable-baselines3 = "*"
optuna = "*"
optuna-dashboard = "*"
planted = {file = "PlantEd", editable = true}

[dev-packages]

[requires]
python_version = "3.9"
